*{
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

.main{
    background-image: url(./bg\ \(3\).png);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

a{
    color: white;
    text-decoration: none;
}

.container{
    margin: 0 auto;
    padding: 1rem;
    width: 1000px;
}

nav{
    padding: o.5rem,0;
}

.pre-nav{
    display: flex;
    justify-content: space-between;
    font-size: 1.7rem;
    align-items: center;
}

.logo{
    color: #026e78;
    font-weight: bold;
    font-size: 2.5rem;
}

nav ul{
    display: flex;
    list-style-type: none;
    padding: 0;
}

nav li{
    flex: 1 auto;
}

nav li a{
    background-color: #2d99a4;
    padding: 1rem 2rem;
    text-align: center;
    display: block;
}

.content h1{
    background-color: #026e78;
    padding: 1rem 2rem;
    text-align: center;
    color: white;
    width: 70vh;
    
}
